<app-navbar></app-navbar>
<h2 style="margin-left: 1.2%; padding-top: 2%;">Devolución</h2>
<div *ngIf="role==='usuario'" class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Libro</th>
            <th scope="col">Fecha de recogida</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prestamo of prestamos | paginate: { itemsPerPage: 7, currentPage: p }">
            <td>{{prestamo.titulo}}</td>
            <td>{{prestamo.fechaRecogida}}</td>
            <button (click)="devolver(prestamo)" class="btn">Devolver</button>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
 